<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento Tech FEPI</title>
    <link rel="stylesheet" href="{%static 'fepi_tech_event/css/style.css'%}"> 
    
</head>
<body>

<header>
    <h1>Evento Tech FEPI</h1>
</header>

<div class="container">
    <h2>Descrição do Evento</h2>
    <img src="{%static 'fepi_tech_event/images/b3.jpg'%}" alt="Descrição da Imagem">
    <p>Participe do nosso evento tech, onde teremos palestras, workshops e networking com profissionais da área de tecnologia!</p>

    <h2>Data e Local</h2>
    <p><strong>Data:</strong> 25 de Novembro de 2024</p>
    <p><strong>Local:</strong> Auditório Principal da FEPI</p>

    <h2>Inscreva-se!</h2>
    <p>Garanta sua vaga preenchendo o formulário abaixo:</p>
    <button onclick="window.location.href='https://linkparainscricao.com'">Inscrever-se</button>
</div>

<footer style="text-align: center; padding: 10px; background-color: #007bff; color: white;">
    <p>© 2024 FEPI - Faculdade de Engenharia e Tecnologia</p>
</footer>

</body>
</html>
